<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shiki's Portal Site</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <div id="app">
    <header>
    </header>
    <div id="main">
      <section id="hero">
        <img class="w-100" src="images/hero.png" />
      </section>
      <section id="profile" class="mt-3 mt-md-5">
        <h2 class="text-center">Profile</h2>
        <div class="w-50 mx-auto mt-5 container-fluid">
          <div class="w-100 mx-auto mb-4 row"
            v-for="key in Object.keys(profiles)" :key="profile.key"
          >
            <div class="title col col-md-4 offset-md-2"><span>{{ key }}</span></div>
            <div class="value col col-md-5"><span>{{ profiles[key] }}</span></div>
          </div>
        </div>
      </section>
      <section id="skill" class="mt-3 mt-md-5">
        <h2 class="text-center">Skill</h2>
        <div class="w-50 mx-auto mt-5 container-fluid">
          <div class="w-100 mx-auto mb-4 row">
            <div class="title col col-md-4 offset-md-2"><span>Frontend</span></div>
            <div class="value col col-md-5">
              <span
               v-for="(content, index) in skills.frontends"
               :key="content.title"
              >
                <span v-if="index !== 0"> / </span>{{ content.title }}：{{ content.years }}
              </span>
            </div>
          </div>
          <div class="w-100 mx-auto mb-4 row">
            <div class="title col col-md-4 offset-md-2"><span>ServerSide</span></div>
            <div class="value col col-md-5">
              <span
               v-for="(content, index) in skills.serversides"
               :key="content.title"
              >
              <span v-if="index !== 0"> / </span>{{ content.title }}：{{ content.years }}
              </span>
            </div>
          </div>
          <div class="w-100 mx-auto mb-4 row">
            <div class="title col col-md-4 offset-md-2"><span>Database</span></div>
            <div class="value col col-md-5">
              <span
               v-for="(content, index) in skills.databases"
               :key="content.title"
              >
                <span v-if="index !== 0"> / </span>{{ content.title }}：{{ content.years }}
              </span>
            </div>
          </div>
          <div class="w-100 mx-auto mb-4 row">
            <div class="title col col-md-4 offset-md-2"><span>Framework</span></div>
            <div class="value col col-md-5">
              <span
               v-for="(content, index) in skills.frameworks"
               :key="content.title"
              >
                <span v-if="index !== 0"> / </span>{{ content.title }}：{{ content.years }}
              </span>
            </div>
          </div>
          <div class="w-100 mx-auto mb-4 row">
            <div class="title col col-md-4 offset-md-2"><span>Other</span></div>
            <div class="value col col-md-5">
              <span
               v-for="(content, index) in skills.other"
               :key="content.title"
              >
                <span v-if="index !== 0"> / </span>{{ content }}
              </span>
            </div>
          </div>
        </div>
      </section>
      <section id="creation" class="mt-3 mt-md-5">
        <h2 class="text-center">Creation</h2>
      </section>
      <section id="contact" class="mt-3 mt-md-5">
        <h2 class="text-center">Contact</h2>
        <div class="wrapper mt-5 mx-auto">
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScbYwcfOIyQCtPKrOXlF3toF7jZ6qSNpf_gmmgUqRKENYuvlw/viewform?embedded=true" width="640" height="800" frameborder="0" >読み込んでいます…</iframe>
        </div>
      </section>
    </div>
    <footer class="mt-5">
      <div class="copyright py-3 text-center">
        <span class="small">(C) {{ thisYear }} Shiki Murobe Allright reserved</span>
      </div>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js" type="text/javascript"></script>
  <script src="./js/script.js"></script>
</body>
</html>